body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    height: auto;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

#formContainer {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 300px; /* Ajusta el tamaño según sea necesario */
    padding: 30px 5px 50px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
   height: 100vh;
    overflow: scroll;

}

/* Estilos para la barra de desplazamiento */
#formContainer::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra  */
}

#formContainer::-webkit-scrollbar-track {
    background: #16222b; /*  pista del scroll */
    border-radius: 10px; /* Bordes redondeados  */
}

#formContainer::-webkit-scrollbar-thumb {
    background: #89bb9e52; /*  parte deslizante del scroll */
    border-radius: 10px; /* Bordes redondeados de la parte deslizante */
}

#formContainer::-webkit-scrollbar-thumb:hover {
    background: #7dc2a7dc; /* cursor está sobre la parte deslizante */
}

#formContainer label {
    margin: 5px 0;
}

input{
    font-size: 1em;
    margin-top: 2px;
}

#inputContainer {
    margin-bottom: 20px;
}

input:focus-within{
    background-color: #16222b;
color: #7dc2a7dc  ;
border: 1px solid #1f2a38 ;
font-family: 'Courier New', Courier, monospace;
}

#divCentral {
    width: 800px;
    max-width: 800px;
    height: fit-content; /* Permite que crezca según el contenido */
    min-height: 150px; /* Altura mínima inicial */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-content: flex-start; /* Alinea desde arriba */
    background-color: lightgray;
    margin: 40px auto;
}

.acorde {
    font-size: var(--font-size-acorde);
    font-family: var(--font-family-acorde);
    width: 160px;
    height: 50px;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 18px; */
    font-weight: bold;
    cursor: pointer;
}

:root {
    --font-size-acorde: 18px;
    --font-family-acorde: 'Arial, sans-serif';
    --bg-color-activo: lightblue;
    --text-color-activo: darkblue;
    --border-activo: 2px solid darkblue;
    
    --bg-color-inactivo: rgba(90, 87, 87, 0.733);
    --text-color-inactivo: black;
    --border-inactivo: 1px solid gray;

    --font-size-acorde: 1em;
    --font-family-acorde: helvetica; 
}

.acorde {
     font-size: var(--font-size-acorde);
     font-family: var(--font-family-acorde);
}

.acorde.activo {
    background-color: var(--bg-color-activo);
    color: var(--text-color-activo);
    border: var(--border-activo);
}

.acorde.inactivo {
    background-color: var(--bg-color-inactivo);
    color: var(--text-color-inactivo);
    border: var(--border-inactivo);
}
    
#simbolos{
    height: auto;
    width: 100px;
    padding: 1px 20px;
}


#botonesContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 200px;
}

.boton-color {
    margin: 1px;
    padding: 13px 20px; 
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.boton-color:hover{
    background-color: #103a3fef;
}


#exportGifButton:hover {
    background-color: #103a3fef;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    }

    #exportGifButton:active {
        background-color: #103a3fef; /* Cambia el color cuando se presiona el botón */
        transform: scale(0.98); /* Reduce ligeramente el tamaño al presionar */
        }

        #exportarLista:hover {
            background-color: #103a3fef;
            transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
            }
        
            #exportarLista:active {
                background-color: #103a3fef; /* Cambia el color cuando se presiona el botón */
                transform: scale(0.98); /* Reduce ligeramente el tamaño al presionar */
                }
               



#boton1 { color: red; }
#boton2 { color: blue; }
#boton3 { color: green; }
#boton4 { color: yellow; }
#boton5 { color: purple; }
#boton6 { color: orange; }


.style-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.style-section h3 {
    margin-top: 0;
}

#inputsPrincipales {
    margin-bottom: 20px;
}

#inputsEstilos {
    margin-bottom: 20px;
}

#inputContainer {
    margin-bottom: 20px;
}
/*BOTON EXPORTAR*/







/*DIV FRAMES*/
#framesContainer{
    display: block;
    position: absolute;
    top: 370px;
    left: 340px;
    width: 800px;
    min-height: 300px ;
    border: 2px solid black;

}


select,
.boton-color,
#mainContainer,
#formContainer, 
.style-section,
.inputstyle,
#botonesContainer, 
body,
.btn-acordes,
.mensaje,
#exportGifButton, 
#exportarLista
{
background-color: #16222b;
color: #7dc2a7dc  ;
border: 1px solid #1f2a38 ;
font-family: 'Courier New', Courier, monospace;

}

.inputstyle:focus {
    background-color: #16222b;
color: #7dc2a7dc  ;
border: none ;
font-family: 'Courier New', Courier, monospace;
}

.inputstyle::selection {
    background-color: #16222b;
color: #7dc2a7dc  ;
border: 1px solid #1f2a38 ;
font-family: 'Courier New', Courier, monospace;
}

/* Para Firefox */
.inputstyle::-moz-selection {
    background-color: #16222b;
color: #7dc2a7dc  ;
border: 1px solid #1f2a38 ;
font-family: 'Courier New', Courier, monospace;
}

#formContainer, 
.style-section{
    box-shadow: 0 2px 4px #7dc2a7dc;
}

/* BOTONES ACORDES */
.btn-acordes{
    font-size: 1.02em;
padding: 2px 10px 1px;
box-shadow: 0 1px 2px #7dc2a7dc;
margin-top: 10px;

}

.mensaje{
    display: block;
    position: absolute;
    top: 450px;
    left: 30%;
    width: 500px;
    min-height: 50px;
    height: auto;
    padding: 5px 20px;
    
    
}

/*estilo iconos*/

button i, button img, button .material-icons {
    vertical-align: middle;
    margin:3px 7px 5px 5px;
    
  }
  